<div class="container">
  <header>
    <h1>New User Story</h1>
  </header>

  <%= render partial: 'form' %>
</div>

<% content_for :custom_js do %>
  $(function(){
    $("#user_story_definition").focus();
  });
<% end %>