//  -------------------------------
//  transition : mixins : utilities
//  -------------------------------

    @mixin transition($str) {
      -webkit-transition: $str;
         -moz-transition: $str;
              transition: $str;
    }